.footer {
  padding-top: 40px;
  background-color: var(--main-color);
  color: #fff;
}
.footer .search{
  max-width: 100%;
}
.footer .search input {
  width: 100% !important;
  margin: 0 !important;
}
.footer .search .search-btn {
  right: 3% !important;
}
.copyRight {
  position: relative;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.copyRight::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: var(--secondary-color);
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.important-links li {
  font-weight: bold;
  font-size: 20px;
}
li:not(:first-child){
    margin-top: 20px;
}
.social-icons-footer{
  display: flex;
  margin-left: 30px;
  justify-content: center;
  margin-top: 10px;
}
.social-icons-footer .social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 40px;
  height:40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 10px;
}
@media(max-width:767px){
  .footer{
    padding-top: 0;
  }
  .footer  .container{
    display: none;
  }
  .social-icons-footer{
    margin-top: 50px;
  }
  .copyRight{
    margin-top: 0;
  }
}